{% extends 'base1.html' %}

{% block title %}
	Edit Profile Page
{% endblock %}

{% block background %}
<body class="background2">
{% endblock %}

{% block button1 %}
    <a class="nav-link" href="{%url 'change-password' user.username %}">Change Password</a>
{% endblock %}

{% block button2 %}
    <a class="nav-link active" href="{%url 'profile' user.username %}">My Profile</a>
{% endblock %}

{% block form %}
	<form enctype="multipart/form-data" class="px-5 py-3 input" action="#" method="POST">
{% endblock %}

{% block edit %}
    {% for field in user_form %}
			<div class="form-group">
			{{field.label_tag}}<br>
			{{field}} {{field.errors}}
			</div>
    {% endfor %}
    {% for field in profile_form %}
			<div class="form-group">
			{{field.label_tag}}<br>
			{{field}} {{field.errors}}
			</div>
    {% endfor %}
{% endblock %}