{% extends 'base1.html' %}

{% block title %}
	LoginPage
{% endblock %}

{% block background %}
<body class="background1">
{% endblock %}

{% block button1 %}
<a class="nav-link active" href="{% url 'home' %}">Login</a>
{% endblock %}

{% block button2 %}
<a class="nav-link" href="{% url 'register' %}">Sign Up</a>
{% endblock %}

{% block leadtext %}
<p class="lead text-center text-uppercase"> Welcome to Grumblr! </p>
{% endblock %}

{% block form %}
	<form class="px-5 py-3 input" action="{%url 'login'%}" method="POST">
{% endblock %}

  	{% block error %}
		{% for error in form.non_field_errors %}
		<p class="errorlist">
		{{error}}
		</p>
		{% endfor %}
	{% endblock %}
			    	
	{% block login %}
		{% for field in form %}
			<div class="form-group">
			{{field.label_tag}}<br>
			{{field}} {{field.errors}}
			</div>
		{% endfor %}

	  	<div class="form-group form-check">
	    	<input type="checkbox" class="form-check-input" id="Check">
	    	<label class="form-check-label" for="Check">Remember me</label>
	  	</div>

        <div class="form-group">
	    	<a class="reset-link" href={% url 'reset-password' %}>Forget Password</a>
	  	</div>
	{% endblock %}

	{% block hidden %}
		<input type="hidden" name="next" value="/global">
	{% endblock %}
