{% extends 'base1.html' %}

{% block title %}
	Registration Page
{% endblock %}

{% block background %}
<body class="background2">
{% endblock %}

{% block button1 %}
<a class="nav-link active" href="{% url 'home' %}">Login</a>
{% endblock %}

{% block button2 %}
<a class="nav-link" href="{% url 'register' %}">Sign Up</a>
{% endblock %}

{% block form %}
	<form class="px-5 py-3 input" action="#" method="POST">
{% endblock %}
			
{% block error %}
  <div class="error">
  {% for error in form.non_field_errors %}
    <ul class="errorlist">
    <li>{{error}} </li>
    </ul>
  {% endfor %}
  </div>
{% endblock %}

{% block register %}
  {% for field in form %}
    <div class="form-group">
        {{field.label_tag}}
        {{field}}
        {{field.errors}}
    </div>
  {% endfor %}
{% endblock %}