<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "grumblr/css/bootstrap.min.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "grumblr/css/Layout.css"%}">
    <script src="{% static 'grumblr/js/jquery-3.3.1.min.js' %}"></script>
    {% block js %}{% endblock %}
</head>

<body>
	<nav class="navbar navbar-light bg-light">
	  	<a class="navbar-brand" href="{% url 'home' %}">Grumblr</a>
	  	<div class="container">
	  		<form class="form-inline my-2 my-lg-0">
	      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    	</form>
		    <ul class="nav nav-pills">
		  		<li class="nav-item">
		    		{% block button1%} {% endblock %}
		 		</li>
		  		<li class="nav-item">
		    		{% block button2%} {% endblock %}
		  		</li>
                {% block button3 %} {% endblock %}
			</ul>
	  	</div>
	</nav>

	<div class="divBox">
		<div class="right">
			{% block rightcontent %} {% endblock %}
		</div>

		<div class="left">
            {% block leftcontent %}{% endblock %}
            <input type="hidden" id="timestamp" value="{{timestamp}}">
		</div>
	</div>
</body>
</html>